body {
  background-image:linear-gradient(#9882F3, white);
  background-size:cover ;
  background-repeat: no-repeat;
 
}
#root {
  background-size:cover ;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  font-family:'Poppins', sans-serif;
}
h1 {
font-family: 'Patua One', cursive;
color: #141313;
}
h3 {
  font-family: 'Poppins', sans-serif;
  color: #000;  
}
p {
  font-family: 'Poppins', sans-serif;
  color: #393838;
}
#email{
  font-family: 'Poppins', sans-serif;
  color:black;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 25px;
  background-color: white;
}
#password{
  font-family: 'Poppins', sans-serif;
  color:black;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 25px;
  background-color: white;
}
#update {
  font-family: 'Poppins', sans-serif;
  background-color: #B4A4D7;
  border:none;
  border-radius: 5px;
}
#botonGoogle {
  font-family: 'Poppins', sans-serif;
  background-color: #d9d9d9;
  margin-top: 15px;
  border:none;
  border-radius: 5px;
  margin-bottom: 5px;
}
#username{
  font-family: 'Poppins', sans-serif;
  color:black;
  border-radius: 5px;
  border:none;
  width: 218px;
  height: 30px;
  background-color:white;
  margin-bottom: 5px;
}
#mail{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border:none;
  width: 218px;
  height: 30px;
  background-color:white;
  color:black;
} 
#contraseña{
  font-family: 'Poppins', sans-serif;
  color:black;
  margin-top: 8px;
  border-radius: 5px;
  border:none;
  width: 218px;
  height: 30px;
  background-color:white;
} 
#register {
  font-family: 'Poppins', sans-serif;
  background-color: #B4A4D7;
  border:none;
  border-radius: 5px;
  margin-top: 10px;
}
.signupLink{
  font-family: 'Poppins', sans-serif;
}
.emoticon{
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-template-rows: auto auto;
 gap: 10px;
}
.emojiCard{
  font-family: 'Poppins', sans-serif;
  background-color: #D5F2FC;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100px;
  height: 120px;
  justify-content: center;
  cursor: pointer;
}
.emojiCard-selected {
  font-family: 'Poppins', sans-serif;
  background-color: #9882F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100px;
  height: 120px;
  justify-content: center;
  cursor: pointer;
}
.emojiCard h5, .emojiCard-selected h5 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color:black;
}
img{
  width:50px;
  height:50px;
  margin-bottom: 15px;
}
textarea{
  width: 500px;
  height: 200px;
  background-color: #c3b6dd;
  color:black;
 position: relative;
  border-radius: 8px;
  margin-top: 10px;
}
.enviar{
  display: flex;
  justify-content: center;
}
#guardar{
  font-family: 'Poppins', sans-serif;
  background-color: #9882F3;
  margin-left: 20px;
  border-radius: 7px;
  border:none;
  
}
#logout{
  display:inline-block;
  justify-content: flex-end;
}
#cerrarSesion{
font-family: 'Poppins', sans-serif;
background-color:rgba(190, 68, 190, 0.507);
border-radius:7px ;
position:absolute;
top:10px;
right: 20px;
border:none;

}
label{
  font-family: 'Poppins', sans-serif;
  color:#141313;
 
}
.btn-Delete{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 0, 0, 0.71);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  border:none;
}
.btn-Edit{
  font-family: 'Poppins', sans-serif;
  background-color: #9982f3bb;
  margin-bottom: 10px;
  border-radius: 7px;
  border:none;
  
}
.notas{
  border-radius: 7px;
  outline-style: solid;
  outline-color:rgb(148, 78, 133);
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin-bottom: 10 px;

}

@media only screen
and (min-width: 320px)
and (max-width: 1024px)
{  body{
  background-size:cover ;
  background-repeat: no-repeat;
  overflow-y: scroll;
  width:100%;
  height:100%;
}
#root{
  background-size:cover ;
  background-repeat: no-repeat;
  overflow-y: scroll;
width: 70%;
height: 70%;
}
textarea{
  width: 80%;
}
}
