body {
  background-image:linear-gradient(#9882F3, white);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  font-family:'Poppins', sans-serif;
}
h1 {
font-family: 'Patua One', cursive;
color: #141313;
}
p {
  font-family: 'Poppins', sans-serif;
  color: #393838;
}
#email{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 25px;
  background-color: white;
}
#password{
  font-family: 'Poppins', sans-serif;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
  width: 200px;
  height: 25px;
  background-color: white;
}
#update {
  font-family: 'Poppins', sans-serif;
  background-color: #B4A4D7;
  border:none;
  border-radius: 5px;
}
#botonGoogle {
  font-family: 'Poppins', sans-serif;
  background-color: #d9d9d9;
  margin-top: 15px;
  border:none;
  border-radius: 5px;
  margin-bottom: 5px;
}
#username{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 25px;
  background-color:white;
  margin-bottom: 5px;
}
#mail{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 25px;
  background-color:white;
} 
#contraseña{
  font-family: 'Poppins', sans-serif;
  margin-top: 8px;
  border-radius: 5px;
  border:none;
  width: 200px;
  height: 25px;
  background-color:white;
} 
#register {
  font-family: 'Poppins', sans-serif;
  background-color: #B4A4D7;
  border:none;
  border-radius: 5px;
}
.emoticones{
  display:flex;
 flex-wrap: wrap;

}


 .emoticones[type=radio]  { 
position:absolute;
opacity:0;
width:0;
height:0;
}
.emoticones  [type=radio] + img {
  cursor: pointer;
}
.emoticones [type=radio]:checked + img {
  outline: 2px solid #f00;
}

img{
  width:50px;
  height:50px;
}


textarea{
  width: 400px;
  height: 200px;
  background-color: #c3b6dd;
  color:black;
  display: flex;
  justify-content: center;
}
#guardar{
  background-color: #9882F3;
  margin-top: 10px;
}
#logout{
  display:inline-block;
  justify-content: flex-end;
  
}
#cerrarSesion{
background-color:purple;
position:absolute;
top:10px;
right: 20px;

}






 @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} 
